body {
	background: #fdfdfd;
	font-family: Arial, sans-serif;
}

#atomik-wrapper {
	margin: 50px auto auto;
	text-align: right;
	width: 50%;
}

	#atomik {
		background: #f8ffea;
		border: 3px solid #aad944;
		margin-bottom: 10px;
		padding: 10px;
		text-align: left;
	}
	
		#atomik h1 {
			color: #5f5f5f;
		}
		
	#atomik-wrapper img {
		border: 0;
	}


table.varaus, td.varaus {
	border: 1px solid;
	border-collapse: collapse;
}

td.varattu {
    background-color: #FF0000;
    border: 1px solid;
    border-collapse: collapse;
}

td.vapaa {
    background-color: #33FF33; 
    border: 1px solid;
    border-collapse: collapse;
}

.varaa {
    color: black;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a.varaa {
    color: black;
}

table {
    
}

.sunnuntai {
    background-color: lightsalmon;
}

#login {
    margin-top: 50px;
    margin-left: 50px;
    border: solid black;
    border-width: 1px;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#login > h2 {
    text-align: center;
}

#login > table {
    padding-left: 20px;
}

#summa {
	text-decoration: underline;
}
